<%- include('./shared/headers.ejs') %>
<%- include('./shared/navbar.ejs') %>
<body id="home">

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-8 m-auto card p-5">
            <div class="">
                <h3>Account Setting</h3>
                <hr>
                <form action="/editUSER" method="post">
                    <input placeholder="Enter Old Password" type="text" class="form-control my-2" name="Opassword">
                    <% if (Verrors.find(e => e.param == 'Opassword')) { %>
                        <div class="alert alert-danger text-center">
                            invalid password
                        </div>
                    <% } %>
                    <input placeholder="New Password" type="text" class="form-control my-2" name="Npassword">
                    <% if (Verrors.find(e => e.param == 'Npassword')) { %>
                        <div class="alert alert-danger text-center">
                            invalid password
                        </div>
                    <% } %>
                    <input placeholder="Repeat Password" type="text" class="form-control my-2" name="Rpassword">
                    <% if (Verrors.find(e => e.param == 'Rpassword')) { %>
                        <div class="alert alert-danger text-center">
                            password incorrect
                        </div>
                    <% } %>
                    <% if (OldPass.length !=0) { %>
                        <div class="alert alert-danger text-center">
                            old password incorrect
                        </div>
                    <% } %>
                    <% if (samePass.length !=0) { %>
                        <div class="alert alert-danger text-center">
                            the new password same old password
                        </div>
                    <% } %>
                    <% if (success.length !=0) { %>
                        <div class="alert alert-success text-center">
                            success
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-info mt-3">Save Setting</button>
                </form>
            </div>
        </div>
    </div>
</div>




    <%- include('./shared/footer.ejs') %>